/* General Styles */
body {
    background-color: #FBF5EA;
    font-family: Arial, sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

/* Logo Styles */
#logo {
    max-width: 100px;
    height: auto;
    margin-right: 15px;
    display: flex;
}

/* Header Styles */
header {
    background-color: #FBF5EA;
    color: #F06EA9;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

/* Button Hover Effect */
#btn-counter:hover {
    background-color: #F06EA9; /* Change to a different color on hover */
}

/* Counter Text Styles */
#txt-counter {
    color: black; /* Default color */
}

#txt-counter.even {
    color: green;
}

#txt-counter.odd {
    color: red;
}

/* Navigation Styles */
h1 {
    font-size: 4em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    white-space: nowrap;
}

/* Navigation Links Animation */
nav li a {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Main Content Styles */
main {
    padding: 100px;
}

/* About Me Section Styles */
#about-me > h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
}

/* Make images responsive */
img {
    max-width: 100%;
    height: auto;
}

/* Hobbies Section Styles */
#hobbies > h2 {
    margin-top: 20px;
}

/* Images Section Heading Styles */
#images h2 {
    text-align: left;
}

/* Images Section Styles */
#images {
    text-align: center;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}

figure {
    display: inline-block;
    margin: 10px 10px 10px 0;
    text-align: left;
}

figcaption {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
}

/* Table Section Styles */
#table {
    margin-top: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
}

th, td {
    border: 2px solid #000000;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #F06EA9;
    color: #FBF5EA;
}

/* Table Row Hover Effect */
tr:hover {
    background-color: #f3bdd5; /* Pink highlight */
    transition: background-color 0.3s ease-in-out;
}

/* Margin Between Sections */
#contact,
#table,
#images,
#conclusion {
    margin-bottom: 20px;
}

/* Conclusion Section Styles */
h2 {
    margin-top: 20px;
}

/* Add a style for the numbers container */
#numbers-container {
    margin-top: 20px; 
  }
  
  /* Style the ordered list */
  #numbers {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Style the list items */
  #numbers li {
    margin: 5px; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
  }
  

/* Contact Information Section Styles */
#contact {
    text-align: left;
    margin-top: 20px;
}

/* Contact Link Hover Effect */
#contact a:hover {
    color: #F06EA9;
}

/* Contact Content Container Styles */
#contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

/* Contact Content Fade In Animation */
#contact-content {
    animation: fadeIn 1s ease-in-out;
}

/* Footer Styles */
footer {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    background-color: #FBF5EA;
    color: #F06EA9;
    padding: 0;
    text-align: center;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    header, body, footer {
        background-color: #ffffff;
    }

    body {
        font-size: 14px;
    }

    header, footer {
        padding: 5px;
    }

    h1 {
        font-size: 2.5em;
        white-space: nowrap;
    }
}


